@import "../tailwind.config.css";

@layer base {
  html {
    @apply h-full;
  }
  body {
    @apply min-h-full bg-background text-foreground antialiased;
  }
  #root {
    @apply h-full overflow-hidden;
  }
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
